{% load staticfiles %}
<html>
      <head>
            <title>Фиолент</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/netoko.css' %}">
			
			<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
            <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
			
			<script src="{% static 'js/jquery.js' %}"></script>
			
			<link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
			<script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>		
      </head>
      <body>
	        <table id="menu_table" width='97%' align='center'> 
			      <tr>
				      <td align='left'>
	                       <div id='mainmenu'>
			                   <a href="{% url 'start_page' %}" id='monitoring'>Мониторинг</a> | 
							   <a href="{% url 'spread_page' %}" id='spread'>Распространение</a> | 
							   <a href="{% url 'drive_page' %}" id='spread'>Ведение позиций</a> |
							   <a href="http://127.0.0.1:8000/admin" id='admin'>Администрирование</a>
			               </div>
					    </td>
						<td align='right'>
                           <div id='toolsmenu'>
			                   <a href="{% url 'search_group_page' %}" id='searchopengroups' class='searchopengroups'>Поиск открытых групп</a> | 
							   <a href="{% url 'analysis_page' %}" id='analysisofaccaunt' class='searchopengroups'>Анализ аккаунта</a> | 
							   <a href="{% url 'onlinemonitoring' %}" id='analysisofaccaunt' class='searchopengroups'>Мониторинг онлайн</a> 
                            </div> 
						</td>
					</tr>
			</table>
			
			<hr>
			
			{% block content %}
            {% endblock %}
			{% block content2 %}
            {% endblock %}
			{% block content3 %}
            {% endblock %}
			{% block content4 %}
            {% endblock %}
			{% block content5 %}
            {% endblock %}
			{% block content6 %}
            {% endblock %}
			{% block content7 %}
            {% endblock %}
			{% block content8 %}
            {% endblock %}
		    
			
      </body>
</html>