{% extends 'netoko/base.html' %}
{% block content4 %}
 
			

<form method="POST" class="post-form">{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="save btn btn-default" id="submit" onClick = "getdetails()">Поиск</button>
</form>   		

<div id='finding_open_group'></div>      




<table>

       <tr>
	       <td id="img_of_group">
		   </td>
		   <td id="name_of_group">
		   </td>
		   <td id="describe_of_group">
		   </td>
		   <td id="count_members_of_group">
		   </td>
	   </tr>
	   
	   
</table>

{% endblock %}