{% extends 'netoko/base.html' %}
{% block content2 %}
<table class='main_table_table_text' width='100%'>
       <tr>
	       <td align='center' class='main_table_table_text'>		   
                <p><h3>Содержание</h3></p>
				                    <table class='main_table_table_text' width='100%'>
								        <tr>
										    <td>
                                                <form method="POST" class="post-form">{% csrf_token %}
                                                                         {{ form.as_p }}
                                                <button type="submit" class="save btn btn-default">В тираж!</button>
                                                </form> 
											</td>
										</tr>
									</table>
            </td>
        </tr>	
</table>		
{% endblock %}